body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.dashboard {
    text-align: center;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card {
    width: 250px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px gray;
}

.student-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    color: navy;
}